# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~
*.sass-cache
*.ruby-version
*.netrwhist

# OS or Editor folders
nbproject
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
*.sublime-project
*.sublime-workspace

# Folders to ignore
.git
.hg
.svn
.CVS
.idea
node_modules

# Developer folders
/build
/tmp
/temp
/INF
/vendor
##

# APP         #
###############
/local
/monitor
/repo
*.tmp.*
*.test.*
